/* ooocss */
.offset-left1 {
    margin-left: 255px
}
.offset-left2 {
    margin-left: 510px
}
.offset-left3 {
    margin-left: 765px
}
/* 暫定対応 */
.skill-panel.offset-right1 {
    margin-right: 255px
}
.skill-panel.offset-right2 {
    margin-right: 510px
}
.skill-panel.offset-right3 {
    margin-right: 765px
}
.img100 {
    width: 100%;
}
.icon2em{
    width: 2em;
}
.icon-wrapper32 {
     width: 32px;
     height: 32px;
}
.alert-color {
    color: #DE0029;
}
.bolld {
    font-weight: bold;
}



/* custom template */
.first_skill .panel-default{
    background-color: #DFF0D8;
}
.second_skill .panel-default{
    background-color: #FCF8E3;
}
.third_skill .panel-default{
    background-color: #D9EDF7;
}
.navbar-black ul {
    margin: 5px 0;
}
.skill_point_info .sp_num{
    display: inline-block;
    width: 2em;
    text-align: center;
}
.skill_point_info .btn {
    padding: 0 12px;
}
.content-block {
    width: 1040px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    border-color: #ddd;
/*右余白なし*/
    padding: 15px 0 15px 15px;
    overflow: auto;
}
.skill-img {
    width: 50px;
    height: 50px;
    display: block;
}
.skill-panel {
    height: 85px;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    width: 240px;
    float: left;
/*右余白なし をここで使う*/
    margin-right: 15px;
}
.skill-name {
    margin-bottom: 4px;
    margin-top: 2px;
}
.skill-icon {
    float: left;
}

.skill-level {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 130px;
    padding: 25px 12px 0;
}
.skill-controller {
    float: left;
    width: 60px;
}
.skill-controller .btn{
    padding: 0px 4px;
}
.skill-controller .btn.sp-max {
    padding: 0px 20px;
}

.job-block {
    display: inline-block;
    width: 100%;
    clear: both;
}

/* bootstrap overrides */
.slider.slider-horizontal {
    height: 20px;
    width: 50px;
}
.slider-tick,
.slider-handle {
    height: 20px;
    width: 10px;
}
.navbar {
    min-height: 30px;
}
#xs-menu {
    text-align: center;
}
.btn:focus{
    outline: 0;
}


/* side nav settings */
#job1_1_1 #sidebar .job1_1_1 a,
#job1_1_2 #sidebar .job1_1_2 a,
#job1_2_1 #sidebar .job1_2_1 a,
#job1_2_2 #sidebar .job1_2_2 a,
#job2_1_1 #sidebar .job2_1_1 a,
#job2_1_2 #sidebar .job2_1_2 a,
#job2_2_1 #sidebar .job2_2_1 a,
#job2_2_2 #sidebar .job2_2_2 a,
#job3_1_1 #sidebar .job3_1_1 a,
#job3_1_2 #sidebar .job3_1_2 a,
#job3_2_1 #sidebar .job3_2_1 a,
#job3_2_2 #sidebar .job3_2_2 a,
#job4_1_1 #sidebar .job4_1_1 a,
#job4_1_2 #sidebar .job4_1_2 a,
#job4_2_1 #sidebar .job4_2_1 a,
#job4_2_2 #sidebar .job4_2_2 a,
#job5_1_1 #sidebar .job5_1_1 a,
#job5_1_2 #sidebar .job5_1_2 a,
#job5_2_1 #sidebar .job5_2_1 a,
#job5_2_2 #sidebar .job5_2_2 a,
#job6_1_1 #sidebar .job6_1_1 a,
#job6_1_2 #sidebar .job6_1_2 a,
#job6_2_1 #sidebar .job6_2_1 a,
#job6_2_2 #sidebar .job6_2_2 a,
#job7_1_1 #sidebar .job7_1_1 a,
#job7_1_2 #sidebar .job7_1_2 a,
#job7_2_1 #sidebar .job7_2_1 a,
#job7_2_2 #sidebar .job7_2_2 a,
#job8_1_1 #sidebar .job8_1_1 a,
#job8_1_2 #sidebar .job8_1_2 a,
#job9_1_1 #sidebar .job9_1_1 a,
#job9_1_2 #sidebar .job9_1_2 a,
#job1_3_1 #sidebar .job1_3_1 a{
    opacity: 0.8;
    background-color: #fff;
    color: #010101;
}

/* jquery slider overrides */
.flat-slider.ui-slider {
    background: #d5cebc;
    border: none;
    border-radius: 0;
}

.flat-slider.ui-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 50% 50% 0;
    border-color: transparent;
    transition: border 0.4s ease;
}

.flat-slider.ui-slider .ui-slider-handle.ui-state-hover,
.flat-slider.ui-slider .ui-slider-handle.ui-state-focus,
.flat-slider.ui-slider .ui-slider-handle.ui-state-active {
    border-color: #008c73;
}

.flat-slider.ui-slider .ui-slider-pip .ui-slider-line {
    background: #d5cebc;
    transition: all 0.4s ease;
}

.flat-slider.ui-slider.ui-slider-horizontal {
    height: 4px;
}

.flat-slider.ui-slider.ui-slider-horizontal .ui-slider-handle {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    top: -25px;
    margin-left: -10px;
}

.flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip {
    top: 6px;
}

.flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line {
    width: 2px;
    height: 10px;
    margin-left: -1px;
}

.flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
    height: 15px;
}

.flat-slider.ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    height: 7px;
}

.flat-slider.ui-slider.ui-slider-vertical {
    width: 6px;
    height: 125px;
    display: inline-block;
    margin: 0 15%;
}

.flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    left: -25px;
    margin-bottom: -10px;
}

.flat-slider.ui-slider.ui-slider-vertical .ui-slider-pip {
    left: 10px;
}

.flat-slider.ui-slider.ui-slider-vertical .ui-slider-pip .ui-slider-line {
    height: 2px;
    width: 10px;
    margin-top: -1px;
}

.flat-slider.ui-slider.ui-slider-vertical .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
    width: 20px;
}

.flat-slider.ui-slider.ui-slider-vertical .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    width: 12px;
}

.flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip,
.flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip {
    visibility: visible;
    opacity: 1;
    border: none;
    background: transparent;
    left: 50%;
    width: 30px;
    margin-left: -15px;
    text-align: center;
    color: white;
    font-weight: normal;
    top: 10px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip:before,
.flat-slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip:before {
    display: none;
}

.flat-slider .ui-slider-handle,
.flat-slider .ui-slider-range,
.flat-slider .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line,
.flat-slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
    background-color: #25daa5;
}

